<header class="blog-header">
  <h1 class="title"><a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a></h1>
  <p class="description">{{ site.description }}</p>
</header>

<nav class="blog-navigation">
  <a class="item" target="_blank" href="https://korsnack.kr">Snack</a></li>
  <a class="item" target="_blank" href="https://snack.studio">SnackStudio</a></li>
  <a class="item" target="_blank" href="https://trip.korsnack.kr">Snack Trips</a></li>
  <a class="item" target="_blank" href="https://devlog.korsnack.kr">Snack Devlog</a></li>
</nav>
