//----------------------------------------------------------------------------------------
// Fonts

$font-sans-serif: "Lesto Sans KR", "NanumBarunGothic", "NanumGothic", "MalgunGothic", "Apple SD Gothic Neo", "Apple Gothic", "Helvetica Neue", "Helvetica", Arial, sans-serif;
$font-serif: "NanumMyeongjo", "Batang", Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;
$font-monospace: "D2Coding", "NanumGothicCoding", "Deja-vu Sans Mono", Consolas,
  "Courier New", Monaco, "Lucida Console", Dotumche, monospace;

//----------------------------------------------------------------------------------------
// Colors

$color-black: #111111;
$color-gray: #aaaaaa;
$color-silver: #dddddd;
$color-white: #ffffff;
$color-blue: #0074d9;
$color-aqua: #7fdbff;
